<div id="comments">

<h5><%=	 comment.name %></h5>

<span class="format"><%=	 comment.body %></span>

<%	 if user_signed_in? %>
    <%	 if current_user.has_role? :admin %>
        <%=	 link_to "Delete", blog_comment_path(@blog, comment), :confirm => "Are you sure?", :method => :delete %>
<%	 end %>
    <%	 end %>

</div>