<div id="content">
<div id="featured">

<h1>Featured Pick</h1>
  
  <b>Game:</b> Olympics - Gymnastics<br />
  <b>Line:</b> GOLD OR BUST<br />
  <b>Pick:</b> USA<br />
<p>LONDON -- Aly Raisman finished the Olympics in style.

  The U.S. captain matched Gabby Douglas in gold medals, winning the title on floor exercise Tuesday. Add in the bronze she earned on balance beam from earlier in the day, and she becomes the most decorated of the Fierce Five.

  "It definitely went better than I thought it would," Raisman said.

  Aly Raisman won gold on the floor exercise and bronze on the balance beam on Tuesday.
  Good thing Raisman did so well, because the rest of the Americans came up empty-handed. Douglas had another rough day, finishing seventh on balance beam after a fall. World champion Jordyn Wieber, voted most likely to leave the Olympics with the biggest haul, was seventh on floor and finished without any individual medals.</p>


</div>

<div id="homepage_content">
  <h2>Welcome to My Sports Gambler</h2>

  Awesome sports picks and expert articles

</div>

<div id="blog_roll_list">
  <h3>Recent Posts</h3>



        <%	 @blogs.each do |blog| %>

        <h5><%=	 link_to blog.title, blog %></h5>
      <div id="blog_roll_item">
        <%=	 blog.body.slice(0..150) %>...

       </div>

         <%	 end %>

</div>
</div>

<div id="sidebar">
    <%=	 render "picks/picks_sidebar" %>
</div>

<div id="content_footer"></div>