<h4>Picks Record</h4>
<hr />
<b>Past 30 Days:</b><br />
<span class="format"><%=	 @picks_win_thirty %> Wins <%=	 @picks_loss_thirty %> Losses</span><br />
<br />
<b>Overall Record:</b><br />
<span class="format"><%=	 @picks_win %> Wins <%=	 @picks_loss %> Losses</span>