<div id="record">

<h4>Picks Record</h4>
  <hr />
  <b>Past 30 Days:</b><br />
  0 Wins 0 Losses<br />
  <br />
  <b>Overall Record:</b><br />
  0 Wins 0 Losses

</div>

<div id="history">
<h4 align="center">Picks History</h4>
  <hr />

  <%	 @picks.each do |pick| %>

      <%	 if pick.game_day < Time.now %>
     <div id="history_sidebar">
       <%=	 link_to pick.game, pick %>
     </div>

          <%	 end %>


  <%	 end %>
</div>