/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h1, h2, h3, h4, h5 {
    margin: 0 0 5px 0;
}

h1, h2 {
    color: #0076a3;
}
body {
    background-color: #212021;
    font-family: "helvetica", "arial", sans-serif;
}

#wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    color: #fff;
}

#logo  {
    margin-bottom: 5px;
    float: left
}

#users {
    float: right;
}

#navigation_wrapper {
    clear: both;
    background-color: #0076a3;
    height: 40px;
}

#navigation {
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
}

#navigation ul {
    margin: 0;
    padding: 0;


}

#navigation li {
    list-style-type: none;
    display: inline-block;
    width: 100px;
    text-align: center;
}


#navigation a:link {
    color: #fff;
    text-decoration: none;
}

#navigation a:hover {
    color: #fff;
    text-decoration: underline;
    
}

#navigation a:visited {
    color: #fff;
    text-decoration: none;
}

#stage {
    background-color: #fff;
    padding: 20px;
    color: #212021;
    min-height: 500px;
}

#notice {
    color: green;
}

#error {
    color: red;
}

#content_format {
  line-height: 1.5em;
    font-size: 90%;
    color: #606060;
    margin-top: 10px;
}

#featured {
    border: 10px solid #212021;
    padding: 20px;
}

#content {
    width: 615px;
    float: left;
}



#content_footer {
    clear: both;
}

/*** Sidebars ***/

#sidebar {
    width: 325px;
    float: right;
    padding-left: 20px;
}

#record {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    background: #efefef;
}

#history {
    padding: 10px;
    margin-bottom: 10px;
    background: #efefef;
}

#history_sidebar {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 90%;
}

#sidebar a:link {
    text-decoration: none;
    font-weight: bold;
    color: #0076a3;
}

#sidebar a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #0076a3;
}

#sidebar a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #0076a3;
}

#blog_posts {
    padding: 10px;
    margin-bottom: 10px;
    background: #efefef;
}

#posts_sidebar {
    margin-top: 15px;

}

#posts_list {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 90%;
}



