.digg_pagination {
    background: white;
    cursor: default;
    /* self-clearing method: */ }

.digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
    text-decoration: none;

}

.digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }

.digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #0076a3;
    color: white;
    border: 1px solid #0076a3; }

.digg_pagination a {
    text-decoration: none;
    color: #0076a3;
    border: 1px solid #0076a3; }

.digg_pagination a:hover, .digg_pagination a:focus {
    color: #000033;
    border-color: #000033;
    text-decoration: none;
}

