<div id="social">
	<%= link_to image_tag('twitter.png', size: "50x50"), "http://twitter.com/MySportsGambler", target: "_blank" %>
</div>

<div id="users">
   <%	 if user_signed_in? %>
      <%= link_to "Edit Profile", edit_user_registration_path %> |
        <%=	 link_to "Sign Out", destroy_user_session_path, :method => "delete" %>

  <%	 end %>
</div>

<div class="clear"></div>

